<h1>Monto Venta </h1>
<form method="post" action="/">
    <input type="text" name="monto">
</form>
<h3>Efectivo </h3>

<form method="post" action="/">
    <input type="text" name="monto">
</form>
</form>

<form>

</form>
